grid no_mark_indication {
    height: 100%;
    width: 6.1%;
	background-color: #00ff00;
}

grid gray_mark_central; {
    background-image: url(gray_mark.png);
    height: 0%;
    width: 4.1%;
    margin-left: 2%;
    margin-right: 0%;
	vertical-align: central;
}

grid yellow_mark_central; {
    background-image: url(yellow_mark.png);
    height: 0%;
    width: 4.1%;
    margin-left: 2%;
    margin-right: 0%;
	vertical-align: central;
}

grid green_mark_central {
    background-image: url(green_mark.png);
    height: 0%;
    width: 4.1%;
    margin-left: 2%;
    margin-right: 0%;
	vertical-align: central;
}

TextView {
    background-color: none;
    color: #000000;
}

.main_row {
    width: 100%;
    height: 23%;
    white-space: normal;
    font: 80% Arial;
}

.description_row {
    width: 100%;
    height: 40%;
    white-space: normal;
    font: 42% Arial;
    color: #8e8e93;
}